* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  scroll-behavior: smooth;
}

:root{
  --title-font : "Allura", cursive;
  --text-font: "Raleway", sans-serif;
}

/* Hero Section */
#hero-section {
  /* display: none; */
  text-align: center;
  background-image: url(../images/header_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section .container-fluid {
  padding: 10% 15% 10%;
  text-align: left;
}

.hero-text{
  width: auto;
  height: auto;
  position: absolute;
  top: 20%;
  left: 10%;

}
.hero-text h1 span{
  display: block;
}
.hero-text a{
  color: #000000;
  font-weight: 900;
}

.couple-name{
  font-family: var(--title-font);
  font-size: 10rem;
  width: 500px;
  color: #fff;
  line-height: 1;
}
.subheading{
  font-family: var(--title-font);
  font-size: 3.5rem;
  color: #fff;
  line-height: 0;
  margin-bottom: 50px;
}

/* The Couple */
#couple-section, #faq-section{
  padding-top: 100px; 
}

#couple-section .img-fluid{
  margin-bottom: 30px;
  
}

#couple-section .img-fluid:hover{
    position: relative;
    top: -4px;
}

.his p, .her p{
  width: 470px;
  line-height: 27px;
}

.heart-icon{
  padding: 35px;
}

/* Wedding Venue */

#location{
  padding-top: 50px;
}

#location img{
  padding: 0 50px;
}

#location a{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
}

#location a:hover{
  color: #cac6c3;
}

/* Event Section */
.event-text{
  margin-top: 30px;
  font-family: var(--title-font);
  font-size: 4rem;
}

.hero-text a{
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 8px 25px;
}

/* Gallery */
#gallery-section img{
	max-width: 100%;
}
.gallery{
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

/* FAQ */

.faq-question{
  
}


/* Comment Section */

.hcb-shadow-m{
  width: 500px;
}

/* RSVP Section */
.rsvp-container{
  height: 800px;
  width: auto;
}

.rsvp-container img{
  width: 300px;
  height: 211px;
}

.form-floating{
  margin-bottom: 25px;
}



/* Typewriter effect start : credits (https://codepen.io/weihungchin/pen/XPZJwq) */
.typing-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64.38rem;
}

.hello-effect {
  float: left;
  border-right: 0.2em solid transparent;
  width: 10.5ch;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 0.85s steps(5, end), blink-caret 0.5s step-end 8 alternate;
  color: #000000;
  font-size: 5rem;
}

.hello-after {
  opacity: 0;
  border-right: .2em solid transparent;
  width: 10ch;
  margin: 1px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  animation: hide 1s step-end 3s forwards, typing 2s steps(20, end) 4s,
      blink-caret .7s step-end infinite alternate;
  color: #000000;
  font-size: 5rem;
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: lime;
  }

  100% {
    border-color: transparent;
  }
}
/* Typewriter effect end */

/* animation */
/* .animate-bottom {
  animation-name: animatebottom;
  animation-duration: 3s;
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
